<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zx.permission_core">

    <application>
        <activity
            android:name=".view.PermissionProxyActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
